<section class="ColectionFilms">
  <form>
    <label><input type="text" #poster>Постер</label>
    <label><input type="text" #title>Название фильма</label>
    <label><input type="number" #yearOfIssue>Год выпуска</label>
    <button (click)="addFilm(poster, title, yearOfIssue)">Добавить фильм</button>
  </form>
  <ul *ngIf="films.length > 0">
    <li *ngFor="let film of films; let i=index"><img src=" {{film.poster}}">
      <h3>{{film.title}}</h3>
      <p>Год выпуска: {{film.yearOfIssue}}</p>
      <button (click)="deleteFilm(i)">Удалить</button>
    </li>
  </ul>
</section>
